examples/flows.json
[
    {
        "id": "e468bcf7a6ec520d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "abf1a383007320ec",
        "type": "debug",
        "z": "e468bcf7a6ec520d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 180,
        "wires": []
    },
    {
        "id": "b51efd91e35dd77d",
        "type": "feedparse-ext",
        "z": "e468bcf7a6ec520d",
        "name": "",
        "url": "https://www.dealabs.com/rss/hot",
        "ignorefirst": false,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "abf1a383007320ec"
            ]
        ]
    },
    {
        "id": "a288824ed469869e",
        "type": "inject",
        "z": "e468bcf7a6ec520d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "b51efd91e35dd77d"
            ]
        ]
    }
]