examples/flows.json
[
    {
        "id": "e468bcf7a6ec520d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "abf1a383007320ec",
        "type": "debug",
        "z": "e468bcf7a6ec520d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 180,
        "wires": []
    },
    {
        "id": "b51efd91e35dd77d",
        "type": "feedparse-ext",
        "z": "e468bcf7a6ec520d",
        "name": "",
        "url": "",
        "ignorefirst": false,
        "x": 620,
        "y": 240,
        "wires": [
            [
                "abf1a383007320ec"
            ]
        ]
    },
    {
        "id": "a288824ed469869e",
        "type": "inject",
        "z": "e468bcf7a6ec520d",
        "name": "Multiple Feeds",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[\"https://www.dealabs.com/rss/hot\",\"https://www.lemondeinformatique.fr/flux-rss/thematique/toutes-les-actualites/rss.xml\"]",
        "payloadType": "json",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "f032e612b21543c4"
            ]
        ]
    },
    {
        "id": "f032e612b21543c4",
        "type": "split",
        "z": "e468bcf7a6ec520d",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 410,
        "y": 180,
        "wires": [
            [
                "b51efd91e35dd77d"
            ]
        ]
    },
    {
        "id": "0c56d23bc32ce27b",
        "type": "inject",
        "z": "e468bcf7a6ec520d",
        "name": "https://www.dealabs.com/rss/hot",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "https://www.dealabs.com/rss/hot",
        "payloadType": "str",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "b51efd91e35dd77d"
            ]
        ]
    }
]